@use "../../abstracts/abstracts" as *;

#local-contexts-content {
    @include container;
    color: var(--text-primary);
    padding-block: var(--space-8) !important;

    .local-contexts-notice {
        padding: var(--space-4);
        background-color: var(--bg-surface);
        border: 1px solid var(--border-color);
        border-radius: var(--radius-md);
    }

    .notice-name {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-3);
        margin-block-end: var(--space-3);
    }
}
