.list-of-sites {
    margin-block-end: var(--space-12);

    .site {
        margin-block-end: var(--space-6) !important;

        .site-thumbnail-image {
            margin-inline-end: var(--space-6) !important;
            border-radius: var(--radius-sm);
        }
    }
}
