@use "../../../abstracts/abstracts" as *;

.toc-block {

    > ul {
        border-inline-start: none !important;

        > li {
            margin-block-end: var(--space-8) !important;

            &:before {
                @include font-awesome;
                content: "\f054" !important;
                display: inline-block;
                font-weight: 600;
                font-size: 0.75rem;
                color: var(--primary);
                margin-inline-end: var(--space-4);
            }
        
            > a {
                font-weight: 600 !important;
                font-size: var(--text-lg);
                margin-block-end: var(--space-2);
                display: inline-block;
            }

        }

        ul {
            > li {
                margin-block-end: var(--space-1);

                &:before {
                    @include font-awesome;
                    content: "\f111" !important;
                    font-weight: 600;
                    font-size: 0.4rem;
                    color: var(--primary) !important;
                    margin-inline-end: var(--space-4);
                }
    
            }
        }
        
    }
    
}
