@use "../../../abstracts/abstracts" as *;

// ==========================================================================
// Table of Contents Block
// Hierarchical TOC with icon markers and nested list styling
// ==========================================================================

.toc-block {

    >ul {
        border-inline-start: none !important;

        >li {
            margin-block-end: var(--space-8) !important;

            &:before {
                @include icon-mask("../img/chevron-right.svg");
                content: "" !important;
                display: inline-block;
                width: var(--text-xs);
                height: var(--text-xs);
                font-weight: 600;
                color: var(--primary);
                margin-inline-end: var(--space-4);
            }

            >a {
                font-weight: 600 !important;
                font-size: var(--text-lg);
                margin-block-end: var(--space-2);
                display: inline-block;
            }
        }

        ul {
            >li {
                margin-block-end: var(--space-1);

                &:before {
                    @include icon-mask("../img/circle-fill.svg");
                    content: "" !important;
                    font-weight: 600;
                    width: 0.4rem;
                    height: 0.4rem;
                    color: var(--primary) !important;
                    margin-inline-end: var(--space-4);
                }
            }
        }
    }
}