@use "../../abstracts/abstracts" as *;

ul,
ol {
    margin: 0;
    padding-inline-start: var(--space-8);
}

ul {
    margin-block-end: var(--space-6);

    li {
        margin-block-end: var(--space-2);

        &::marker {
            color: var(--primary);
        }
    }
}

ol {
    list-style: decimal;
    margin-block-end: var(--space-6);

    li {
        margin-block-end: var(--space-2);

        &::marker {
            color: var(--primary);
            font-weight: 600;
            margin-inline-end: var(--space-4);
        }
    }
}

li > ul,
li > ol {
    margin-block-end: 0;
    margin-inline-start: var(--space-6);
}

dt {
    color: var(--text-heading);
    font-size: var(--text-lg);
    font-weight: 600;

    @media (min-width: $md) {
        font-size: var(--text-xl);
    }
}

dd {
    margin: 0 var(--space-4) var(--space-4) 0;
    @include clearfix();
}
