/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

img {
    height: auto; // Make sure images are scaled correctly.
    max-width: 100%; // Adhere to container width.
}

figure {
    margin: var(--space-4) 0; // Extra wide images within figure tags don't overflow the content area.
}

figcaption {
    color: var(--text-secondary);
    font-size: var(--text-sm);
    font-style: italic;
    margin-block-start: var(--space-2);
}

.decoration {
    img {
        outline: 1px solid var(--bg-surface);
        outline-offset: -10px;

        @media(min-width: $md) {
            outline-offset: -20px;
        }
    }

    &--thumbnail {
        img {
            outline-offset: -10px;
        }
    }
}
