.resource .description {
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
    word-break: break-word;

    &.fadeout {
        position: relative;
        max-height: 6.2rem;
        overflow: hidden;
        
        &::after {
            content: "";
            background: linear-gradient(
                to right,
                transparent,
                var(--bg-body) 60%
            );
            height: 1.7rem;
            inset-inline-start: 50%;
            inset-inline-end: 0;
            position: absolute;
            top: 4.5rem;
        }
    }

    &.ellipsis {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }    
}
