h1,
h2,
h3,
h4 {
    color: var(--text-heading);
    font-family: $font__headings;
    margin-block-start: 0;
}

h5,
h6 {
    color: var(--text-heading);
    font-family: $font__body;
    margin-block-start: 0;
}

h1 {
    clear: both;
    font-size: var(--text-3xl);
    font-weight: 500;
    line-height: $font__headings-line-height;
    margin-block-end: var(--space-8);

    @media (min-width: $md) {
        font-size: var(--text-4xl);
        margin-block-end: var(--space-12);
    }
}

h2 {
    font-size: var(--text-2xl);
    font-weight: 500;
    line-height: $font__headings-line-height;
    margin-block-end: var(--space-8);

    @media (min-width: $md) {
        font-size: var(--text-3xl);
    }
}

h3 {
    font-size: var(--text-xl);
    font-weight: 400;
    line-height: $font__headings-line-height;
    margin-block-end: var(--space-8);

    @media (min-width: $md) {
        font-size: var(--text-2xl);
    }
}

h4 {
    font-size: var(--text-lg);
    font-weight: 400;
    line-height: $font__headings-line-height;
    margin-block-end: var(--space-6);

    @media (min-width: $md) {
        font-size: var(--text-xl);
    }
}

h5 {
    font-size: var(--text-base);
    font-weight: 600;
    line-height: $font__headings-line-height;
    margin-block-end: var(--space-5);

    @media (min-width: $md) {
        font-size: var(--text-lg);
    }
}

h6 {
    font-size: var(--text-sm);
    font-weight: 600;
    line-height: $font__headings-line-height;
    margin-block-end: var(--space-4);

    @media (min-width: $md) {
        font-size: var(--text-base);
    }
}
