// ==========================================================================
// Typography
// Base typography settings for form elements and body text
// ==========================================================================

@forward "headings";
@forward "copy";

@use "../../abstracts/abstracts" as *;

body,
button,
input,
select,
optgroup,
textarea {
    color: var(--ink);
    font-family: $font__body;
    font-size: var(--text-base);
    line-height: $font__base-line-height;
}