@forward "headings";
@forward "copy";

@use "../../abstracts/abstracts" as *;

body,
button,
input,
select,
optgroup,
textarea {
    color: var(--text-primary);
    font-family: $font__body;
    font-size: 1rem;
    line-height: $font__base-line-height;
}
