@use "../../../abstracts/abstracts" as *;

.item-with-metadata {
    overflow: initial !important;
    margin-block-end: var(--space-12) !important;
    
    &__container {
        background-color: var(--bg-surface);
        box-shadow: var(--shadow-md);
        border-radius: var(--radius-md);
        margin-block-end: var(--space-6);
        overflow: hidden;
    }

    &__header {
        border: 1px solid var(--border-color);
        border-inline-start: none;
        padding: var(--space-4);
        position: relative;
        width: 100%;

        &::before {
            content: "";
            background-color: var(--primary);
            height: 100%;
            inset-inline-start: 0;
            position: absolute;
            top: 0;
            width: 3px;
        }

        .language {
            margin-inline-start: var(--space-3);
        }
    }

    &__heading {
        margin-block-end: 0;
        padding-inline-start: var(--space-4);
    }

    &__content {
        display: flex;
        align-items: center;
        border: 1px solid var(--border-color);
        border-block-start: none;
        flex-direction: column;
        flex-wrap: wrap;
        gap: var(--space-10);
        padding: var(--space-5);

        @media (min-width: $md) {
            align-items: flex-start;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: var(--space-8);
        }
    }

    &__thumbnail {
        flex-shrink: 0;
        height: auto;
        max-width: 100%;

        img {
            outline-offset: -10px;
            border-radius: var(--radius-sm);
        }

        @media (min-width: $md) {
            max-width: 150px;
        }

        @media (min-width: $lg) {
            max-width: 250px;
        }

        @media (min-width: $xl) {
            max-width: 370px;

            img {
                outline-offset: -20px;
            }
        }
    }
}
