@use "../../abstracts/abstracts" as *;

// ==========================================================================
// Pagination
// Index file for pagination components
// ==========================================================================

@forward "resources-pagination";
@forward "page-pagination";