@use "../../../abstracts/abstracts" as *;

.carousel-block {
    padding-inline: 45px;

    .slick-arrow {
        border: 1px solid var(--border);
        border-radius: var(--radius-full);
        height: 40px;
        width: 40px;
        transition: 
            background-color var(--transition-fast), 
            border-color var(--transition-fast),
            box-shadow var(--transition-fast);

        &:hover {
            background-color: var(--primary);
            border-color: var(--primary);
            box-shadow: var(--glow-sm);

            .slick-prev-icon,
            .slick-next-icon {
                &::before {
                    color: white;
                }
            }
        }

        &.slick-next {
            padding-inline-start: 3px;
            inset-inline-end: -45px;
        }

        &.slick-prev {
            padding-inline-end: 3px;
            inset-inline-start: -45px;
        }

        .slick-prev-icon,
        .slick-next-icon {
            &::before {
                @include font-awesome;
                color: var(--muted);
                font-size: 25px;
                line-height: 1;
                transition: color var(--transition-fast);
            }
        }

        .slick-prev-icon {
            &::before {
                content: "\f053";
            }
        }

        .slick-next-icon {
            &::before {
                content: "\f054";
            }
        }
    }

    .slick-dots {
        button {
            &:hover {
                background-color: transparent;
            }
        }
    }
}
