// ==========================================================================
// User Bar
// Admin user bar with site and user links
// ==========================================================================

#user-bar {
    gap: var(--space-4);

    a {
        display: block;

        @media (min-width: $lg) {
            display: initial;
        }
    }

    .site-links {
        width: 60%;

        a {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;

            @media (min-width: $lg) {
                overflow: initial;
                white-space: initial;
                width: auto;
            }
        }

        .admin {
            &::after {
                content: none !important;

                @media (min-width: $lg) {
                    content: ">" !important;
                }
            }

            &:last-child::after {
                content: none !important;
            }
        }
    }

    .user-links {
        width: 40%;
        text-align: end;

        .logout {
            margin-inline-start: 0;
            margin-block-start: var(--space-4);
            padding: var(--space-2) var(--space-3);
            text-decoration: none;

            @media (min-width: $lg) {
                margin-inline-start: var(--space-3);
                margin-block-start: 0;
                padding: 0 var(--space-2);
            }
        }
    }
}
