.mapping-map {
    .leaflet-popup-content {
        margin: var(--space-3);
    }

    .mapping-marker-popup-heading {
        font-size: var(--text-lg);
        margin-block-end: var(--space-3);
        color: var(--text-heading);
    }

    .mapping-marker-popup-content {
        display: flex;
        gap: var(--space-3);

        img {
            max-width: 100px;
            max-height: 100px;
            border-radius: var(--radius-sm);
            object-fit: cover;
        }
    }
}
