@use "../../abstracts/abstracts" as *;

.resources-linked {

    &__header {
        display: flex;
        align-items: flex-end;
    }

    &__expand-collapse-btn {
        background-color: transparent;
        color: var(--primary);
        flex-shrink: 0;
        font-size: var(--text-xs);
        font-weight: 600;
        margin-block-end: var(--space-8);
        margin-inline-start: auto;
        padding: 0 0 0 var(--space-5);
        text-decoration: underline;
        transition: color var(--transition-fast);

        &:hover,
        &:focus {
            background-color: transparent !important;
            color: var(--primary-hover) !important;
        }
    }

    .resource-tag {
        margin-block-end: 0;
    }

    .linked-resource {
        display: flex;
        align-items: flex-start;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: var(--space-3) var(--space-2);
        border-block-end: 1px solid var(--border);
        border-radius: var(--radius-sm);
        transition: background-color var(--transition-fast);

        @media (min-width: $lg) {
            align-items: center;
            flex-direction: row;
        }

        &:last-child {
            border-block-end: none;
        }

        &:hover {
            background-color: var(--surface-raised);
        }

        .resource-tags {
            margin-block-end: var(--space-4);
            margin-inline-start: calc(var(--space-3) * -1);

            @media (min-width: $lg) {
                margin: 0;
            }
        }
    }
}
