@forward "regions";

@use "../../abstracts/abstracts" as *;

html, body {
    width: 100%;
}

html {
    scroll-padding-top: 133px;
}

body {
    padding-block-start: 133px;

    @media (min-width: $lg) {
        padding-block-start: 160px;
    }

    &.main-header--center {
        padding-block-start: 230px;
    }
}

.container {
    @include container;
}

#main-content {
    padding-block: var(--space-8) var(--space-12);

    @media (min-width: $lg) {
        padding-block: var(--space-12) var(--space-16);
    }

    body.items.search & {
        @media (min-width: $lg) {
            max-width: 1160px;
            padding: var(--space-12) var(--space-40) var(--space-16) var(--space-16);
        }

        @media (min-width: $xl) {
            max-width: 1160px;
            padding: var(--space-12) var(--space-40) var(--space-16);
        }
    }
}
