@use "../../abstracts/abstracts" as *;

.regions-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
    margin-block-end: var(--space-12);
    padding-block-end: var(--space-12);
    border-block-end: 1px solid var(--border-color);

    @media (min-width: $md) {
        flex-direction: row;
    }

    .main-region {
        order: -1;
        width: 100%;

        @media (min-width: $md) {
            order: initial;
        }
    }

    .sidebar-region {
        flex-shrink: 0;
        position: relative;
        width: 100%;

        @media (min-width: $md) {
            width: 27%;
        }

        &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: calc(100% + 100px);
            background-color: var(--border-color);
            top: -50px;
        }

        &--left {
            &::after {
                inset-inline-end: -30px;
            }
        }
    
        &--right {
            &::after {
                inset-inline-start: -30px;
            }
        }
    }

    &--all {
        flex-direction: column !important;

        @media (min-width: $xl) {
            flex-direction: row !important;
        }

        .main-region {
            order: -1 !important;

            @media (min-width: $xl) {
                order: initial !important;
            }
        }

        .sidebar-region {
            width: 100% !important;

            @media (min-width: $xl) {
                width: 27% !important;
            }
        }
    }
}
