// ==========================================================================
// Components Index
// Forward all component styles
// ==========================================================================

@use "../abstracts/abstracts" as *;

/* Header
--------------------------------------------- */
@forward "header/header";
@forward "header/theme-toggle";
@forward "header/language-switcher";

/* Navigation
--------------------------------------------- */
@forward "navigation/navigation";
@forward "navigation/menu-drawer";

/* Accordion
--------------------------------------------- */
@forward "accordion/accordion";

/* Advanced Search
--------------------------------------------- */
@forward "advanced-search/advanced-search";

/* Annotation
--------------------------------------------- */
@forward "annotation/annotation";

/* Banner
--------------------------------------------- */
@forward "banner/banner";

/* Breadcrumbs
--------------------------------------------- */
@forward "breadcrumbs/breadcrumbs";

/* Linked Resources
--------------------------------------------- */
@forward "linked-resources/linked-resources";

/* Local Contexts
--------------------------------------------- */
@forward "local-contexts/local-contexts";

/* Mapping
--------------------------------------------- */
@forward "mapping/mapping-map";

/* Metadata
--------------------------------------------- */
@forward "metadata/metadata";

/* Blocks
--------------------------------------------- */
@forward "blocks/blocks";

/* Pagination
--------------------------------------------- */
@forward "pagination/pagination";

/* Facets
--------------------------------------------- */
@forward "facets/facets";

/* Hierarchy
--------------------------------------------- */
@forward "hierarchy/hierarchy";

/* Resources
--------------------------------------------- */
@forward "resources/resources";

/* Search Results
--------------------------------------------- */
@forward "search-results/search-results";

/* URI Dereferencer
--------------------------------------------- */
@forward "uri-dereferencer/uri-dereferencer";

/* User Bar
--------------------------------------------- */
@forward "user-bar/user-bar";

/* Universal Viewer
--------------------------------------------- */
@forward "universal-viewer/universal-viewer";

/* Footer
--------------------------------------------- */
@forward "footer/footer";
