.banner {
    display: flex;
    align-items: center;
    position: relative;

    &.container {
        padding: 0;
    }

    &.has-text::before {
        content: "";
        position: absolute;
        background-color: #000;
        opacity: 0.6;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        inset-inline-start: 0;
        z-index: 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin-inline: auto;
        width: 80%;
        color: white;
        z-index: 2;
        padding: var(--space-12) var(--space-4);
    
        @media (min-width: $md) {
            padding: var(--space-12) var(--space-8);
        }

        &--left {
            align-items: flex-start;
        }

        &--center {
            text-align: center;
            align-items: center;
            max-width: 1000px;

            .banner__heading,
            .banner__description {
                max-width: none !important;
            }
        }

        &--right {
            text-align: end;
            align-items: flex-end;
        }
    }

    &__heading {
        color: white;
        font-size: var(--text-3xl);
        max-width: 800px;
        text-shadow: 0 2px 4px rgb(0 0 0 / 30%);
    }

    &__description {
        font-size: var(--text-xl);
        max-width: 800px;
        margin-block-end: 0;
        text-shadow: 0 1px 3px rgb(0 0 0 / 30%);
    }
}
