.assets,
.block-asset {
    margin-block-end: var(--space-12);

    &.inline {
        .assets {
            display: flex;
            flex-direction: column;
            gap: var(--space-10);

            @media(min-width: $md) {
                flex-direction: row;
            }
        }
    }
}
